<h2>WorDeFINE</h2>

<h4>Click on a word to see it's definition: </h4>
<% @word_list.each do |word| %>
  <h1><a href="/define/<%= word.id %>"><%= word.new_word %></a></h1>
<% end %>

<h4>Or add your own word: </h4>
<form action="/" method="post">
  <div class="form-group">
    <label for="my_word">My word: </label>
    <input name="my_word" id="my_word"  class="form-control" type="text">
  </div>
</form>

<button type="submit" class="btn btn-info">Go!</button>
</form>
