<h2>WorDeFINE</h2>

<h4>Enter a word: </h4>

<form action="/words" method="post">
  <div class="form-group">
    <label for="term">Word: </label>
    <input name="term" id="term"  class="form-control" type="text">
  </div>


  <button type="submit" class="btn btn-info">Submit</button>
</form>

<% @list.each do |word| %>
  <h1><a href="/words/<%= word.id %>"><%= word.term %></a></h1>
<% end %>
