<h2>WorDeFINE</h2>

<h3>Enter a word you would like to define: </h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="term">Word: </label>
    <input name="term" id="term"  class="form-control" type="text">
  </div>


  <button type="submit" class="btn btn-info">Submit</button>
</form>

<h3>Click on a word below to visit it's page and add definitions</h3>
<% @list.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.term %></a></h4>
<% end %>
