<h2>WorDeFINE</h2>

<h4>Enter a word: </h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Word: </label>
    <input name="word" id="word"  class="form-control" type="text">
  </div>


  <button type="submit" class="btn btn-info">Submit</button>
</form>

<% @list.each do |word| %>
  <h1><a href="/define/<%= word.id %>"><%= word.word %></a></h1>
<% end %>
